* {
    font-family:Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}
* h1 {
    orientation: auto ;
}
body {
    margin: 20px;
}
* p {
    font-size: 10pt;
    padding: 1rem;
    margin: 10px;
} 

img {
    height: 20 px;
    margin: 10 px;
    border: 5 px solid black;
}
h1 > span {
    font-size: 16px;
    margin: 0,50px;
}